<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="FrameworkConfigSection">
      <section name="FrameworkConfig" type="Ada.Framework.Configuration.Section.FrameworkConfigSection, Framework.Configuration" allowLocation="true" allowDefinition="Everywhere" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <FrameworkConfigSection>
    <FrameworkConfig>
      <ConfigFiles>
        <File Name="DynamicLoaderConfig" Path=".[DS][FileName]"/>
      </ConfigFiles>
    </FrameworkConfig>
  </FrameworkConfigSection>
</configuration>